
.simulation{
    margin-top: 1em;
    font-family: "montserrat-bold", sans-serif;
    /* background-color: white; */
    min-width: 290px;
    max-width: 500px;
    background-color: #434343d4;
    border-radius: 10px;
    padding: 15px 15px 1px;
}
.simulation .form_title {
    
    padding: 1rem;
    font-size: 1.5rem;
    /* margin-top:10px;
    margin-bottom: 39px; */
}

.form_question
{
    margin-bottom: 16px;
    /* font: normal normal normal 20px/26px Roboto; */
    font-size: 1.125rem;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
}
/* range control */
.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-bottom: 3rem;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 0;

    background: linear-gradient(to right, #39b54a 0%, #39b54a 50%, #fff 50%, #fff 100%);
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #39b54a;
    cursor: pointer;
    border-color: transparent;
  }
  
  .slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #39b54a;
    cursor: pointer;
    border-color: transparent;
  }

/* end range control */

.form_range-value
{
    color: #D6D6D6;
    font-size: 1.25rem;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.form_range-min-max{
    font-size: .875rem;
    color: #fff;
}

.clear-fix{
    clear: both;
}

.btn-invertir{
    margin-top: .5em;
    background-color: #Eb4909;
    width: 100%;
    max-width: 310px;
    height: 3.125rem;
    max-height: 50px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 1.25rem; 
}
.simulation-line
{
    margin: 0 auto 5px;
    /* margin-bottom: 2px; */
    border-color: white;
}
.form_results
{
    font-family: "montserrat";
    font-size: 1.5rem;
    color: #FFFFFF;
    /* margin-bottom: 16px; */
    margin: 5px auto;
    

}
.form_results > span{
    padding: 5px 0;
}
.form_results_rentabilidad
{
    color: #39b54a;
}

/* tabla de detalle - cronograma */
.table-responsive
{
    max-height: 600px;
}
thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  }
  tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
  }
  
thead th:first-child {
    left: 0;
    z-index: 2;
  }

  thead th {
    background: #d4d4d4;
    /* color: #FFF; */
    /* Ensure this stays above the emulated border right in tbody th {}: */
    z-index: 1;
  }
  tbody th {
    background: #FFF;
    border-right: 1px solid #CCC;
    /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
    box-shadow: 1px 0 0 0 #ccc;
  }
  tbody tr td, th{
      text-align: center;
  }
  table {
    border-collapse: collapse;
  }

  tr:nth-child(even) 
  td { background: #f0eded; }